:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
  }
.container{
    min-width: 600px;
    max-width: 2000px;

    margin-top: 20px;
}
.search-form{
width: 20%;
display: block;
margin: 0px auto;
}
.gallery{
display: flex;
justify-content: center;
flex-wrap: wrap;
   
}
.photo-card {
width: 22%;
margin-bottom: 2%;
border: 1px solid black;
border-radius: 5px;
margin-right: 2%;
padding-bottom: 5%;
}
.photo-card:nth-child(4n + 4){
margin-right: 0;
}
.photo{
   width: 100%;
}
.info-item{
align-items: center;
display: flex;
flex-direction: column;
margin-right: 12px;
font-size: 14px;
}
.info-item:last-child{
    margin-right: 0px;
}
.info{
display: flex;
justify-content: center;
}

img:hover {
    transform: scale(1.03);
}
img {
    width: 100%;
       height: 85%;
       object-fit: cover;
       transition: transform var(--animation-duration) var(--timing-function);
    }

    .end-collection-text.is-hidden {
        display: none;
      }

    